.classpath
captures/
project.properties
keystore.debug.properties
keystore.staging.properties
.project
.settings
bin/
gen/
.idea/
*.iml
out
tests
local.properties
ant.properties
.DS_Store
build.log
build-log.xml
.gradle
build
signing.properties
library/lib/
library/obj/
ffpr
test/androidTestEspresso/res/values/arrays.xml
obj/
jni/libspeex/.deps/
pkcs11.password
dev.keystore
maps.key
local/
/contacts/app/debug/
app/google-services.json
app/src/main/res/values/firebase_messaging.xml
/app/nightlyPnp/release/output-metadata.json
/app/nightlyPnp/release/Signal-Android-nightly-pnp-arm64-v8a-release.apk
/app/nightlyPnp/release/Signal-Android-nightly-pnp-armeabi-v7a-release.apk
/app/nightlyPnp/release/Signal-Android-nightly-pnp-universal-release.apk
/app/nightlyPnp/release/Signal-Android-nightly-pnp-x86-release.apk
/app/nightlyPnp/release/Signal-Android-nightly-pnp-x86_64-release.apk
